.gs-zq-swp{
    height: 2.7rem;
    .swiper-container{
        height: 2.7rem;
        .swiper-slide{
            position: relative;
            margin-right: 0.04rem;
            width: 3.2rem;
            height: 2.7rem;
            &:nth-child(1){
                margin-left: 0.2rem;
            }
            &:last-child{
                margin-right: 0;
            }
            img{
                display: block;
                margin-bottom: 0.18rem;
                width: 3.2rem;
                height: 1.8rem;
            }
            span{
                display: block;
                padding: 0 0.18rem;
                max-height: 0.72rem;
                line-height: 0.36rem;
                font-size: 0.24rem;
                color: #222;
                overflow: hidden;
            }
            a{
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}
.gs-zq-swp-video{
    .swiper-container{
        .swiper-slide{
            a{
                &:after{
                    display: block;
                    content: '';
                    position: absolute;
                    left: 50%;
                    margin-left: -0.33rem;
                    top: 0.58rem;
                    width: 0.66rem;
                    height: 0.66rem;
                    background: url(#{$path}/gs-zq-play.png) 0 0 no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
}
.pswp-zq{
    &.pswp--css_animation{
        .pswp__preloader__icn{
            top: 0.3rem;
            left: 0.3rem;
            width: 0.28rem;
            height: 0.28rem;
        }
        .pswp__preloader__cut{
            width: 0.14rem;
            height: 0.28rem;
        }
        .pswp__preloader__donut{
            width: 0.28rem;
            height: 0.28rem;
            border: 0.04rem solid #fff;
            border-left-color: transparent;
            border-bottom-color: transparent;
        }
    }
    .pswp__button, .pswp__button--arrow--left:before, .pswp__button--arrow--right:before{
        background-image:url(http://image.gamersky.com/webimg13/lib/photoswipe/default-skin.svg);
        background-size: 5.28rem 1.76rem;
        width: 0.88rem;
        height: 0.88rem;
    }
    .pswp__button--arrow--left:before, .pswp__button--arrow--right:before{
        top: 0;
        height: 0.6rem;
        width: 0.64rem;
    }
    .pswp__button--arrow--left, .pswp__button--arrow--right{
        margin-top: -0.3rem;
        height: 0.6rem;
        width: 0.7rem;
        background: none;
    }
    .pswp__button--arrow--left:before{
        left: 0.06rem;
        background-position: -2.76rem -0.88rem;
    }
    .pswp__button--arrow--right:before{
        right: 0.06rem;
        background-position: -1.88rem -0.88rem;
    }
    .pswp__button--close{
        background-position: 0 -0.88rem;
    }
    .pswp__preloader{
        width: 0.88rem;
        height: 0.88rem;
    }
    .pswp__top-bar{
        height: 0.88rem;
    }
    .pswp__counter{
        padding: 0;
        width: 100%;
        height: 0.88rem;
        line-height: 0.88rem;
        font-size: 0.26rem;
        text-align: center;
    }
    .pswp__bot-bar{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.88rem;
        background-color: rgba(0,0,0,.3);
        .pswp-zq-save-btn{
            display: block;
            position: absolute;
            right: 0.25rem;
            bottom: 0.19rem;
            width: 0.5rem;
            height: 0.5rem;
            @include setIconBg('gs-zq-download.png');
            background-size: 0.19rem 0.22rem;
            background-position: center center;
            border: 1px solid #555;
            box-sizing: border-box;
            border-radius: 0.1rem;
        }
        .pswp-zq-origin-btn{
            cursor: pointer;
            @include flexbox;
            @include ConCen;
            position: absolute;
            left: 50%;
            margin-left: -0.6rem;
            bottom: 0.19rem;
            width: 1.4rem;
            height: 0.5rem;
            background: none;
            background-color: #222;
            font-size: 0.26rem;
            color: #999;
            border: 1px solid #555;
            box-sizing: border-box;
            border-radius: 0.1rem;
        }
    }
}