<div class="gs_zp_pz_swp" id="pzMain">
    <div class="swp_nav">
        <a>最低配置</a>
        <a>推荐配置</a>
    </div>
    <div class="swp_con">
        <div class="swiper-container" id="zpPzSwp">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="pzwrap pz_data">
                        <div class="PZXQ">
                            <ul class="PZ DD">
                                <li class="tit">最低配置
                                </li>
                                <li class="txt">
                                    <div class="tit">系统</div>
                                    <div class="txt"><span>Windows 7 / 8.1 / 10 (游戏仅支持64位)</span></div>
                                </li>
                                <li class="txt">
                                    <div class="tit">CPU</div>
                                    <div class="txt"><span>Intel Core i5-2400 / AMD FX-6300</span></div>
                                </li>
                                <li class="txt">
                                    <div class="tit">内存</div>
                                    <div class="txt"><span>8 GB</span></div>
                                </li>
                                <li class="txt">
                                    <div class="tit">显卡</div>
                                    <div class="txt"><span>NVIDIA GeForce GTX 670 / AMD R9 270</span></div>
                                </li>
                                <li class="txt">
                                    <div class="tit">硬盘</div>
                                    <div class="txt"><span>40 GB</span></div>
                                </li>
                                <li class="txt">
                                    <div class="tit">DX</div>
                                    <div class="txt"><span>DirectX 9.0c</span></div>
                                </li>
                            </ul>
                            <ul class="PZ TJ">
                                <li class="tit">推荐配置
                                </li>
                                <li class="txt">
                                    <div class="tit">系统</div>
                                    <div class="txt"><span>Windows 7 / 8.1 / 10 (游戏仅支持64位)</span></div>
                                </li>
                                <li class="txt">
                                    <div class="tit">CPU</div>
                                    <div class="txt"><span>Intel Core i7-4770 / AMD Ryzen 5 1600</span></div>
                                </li>
                                <li class="txt">
                                    <div class="tit">内存</div>
                                    <div class="txt"><span>8 GB</span></div>
                                </li>
                                <li class="txt">
                                    <div class="tit">显卡</div>
                                    <div class="txt"><span>NVIDIA GeForce GTX 970 / AMD R9 290X</span></div>
                                </li>
                                <li class="txt">
                                    <div class="tit">硬盘</div>
                                    <div class="txt"><span>40 GB</span></div>
                                </li>
                                <li class="txt">
                                    <div class="tit">DX</div>
                                    <div class="txt"><span>DirectX 9.0c</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="pzwrap pz_copy">
                        <div class="PZXQ"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
