<div class="gs-zq-game-info gsZqNavPos0">
    <img src="http://imgs.gamersky.com/ku/2017/ku_farcry5.jpg" alt="" class="bg">
    <img src="http://imgs.gamersky.com/ku/2017/ku_farcry5.jpg" class="fm">
    <div class="context">
        <div class="title">
            <h4>火影忍者疾风传：忍立体绘卷！最强忍界</h4>
            <h5>Naruto Shippuden - Shinobi Rittai Emaki! Saikyou Ninkai Kessen!!</h5>
        </div>
        <div class="info gsZqGameInfo">
            <p>类型：动作游戏  / 中文：支持  /  主线：8.5小时</p>
            <div class="gsZqGameInfoPlatBox">
                <p class="gsZqGameInfoPlat">平台：<a class="cur">loading...</a></p>
                <div class="time gsZqGameInfoTime"><p class="cur">上市：loading...</p></div>
            </div>
            <p>制作发行：EA DICE/EA </p>
        </div>
        <a target="_blank" href="#" class="gs-zp-rating gsZqRating" data-gameid="902059" style="display: none;">
            <span class="gs-zp-rating-num gsZqRatingNum"></span>
            <span class="gs-zp-rating-tit">游民评分</span>
            <span class="gs-zp-rating-arr"></span>
        </a>
    </div>
    <div class="introduce gsZqGameInfoIntroHolder">
        <p>loading...</p>
    </div>
    <div class="introduce gsZqGameInfoIntro" style="display: none;">
        <p>游戏介绍</p>
        <p>　　《刺客信条：起源》是由育碧制作并发行的《刺客信条》系列历史上规模最大的一个。本作采用开放地图沙盒玩法，主地图为埃及，聚焦刺客兄弟会的起源，主角为两个人，一男一女。</p>
        <p>　　游戏除了埃及之外，还可以通过航船系统探索其他国家，比如希腊，以及整个地中海地区，海战依然会出现在本作中，毕竟该作由《刺客信条4》团队打造。</p>
        <p>　　本作自由度很高，相较系列前作更注重探索，并且还采用了非线性架构，设计了角色成长系统，而且和剧情联系度不深，有兴趣的玩家可以来尝试一下。</p>
        <a class="introduce-more gsZqGameInfoIntroMore">（展开）</a>
    </div>
</div>
<div style="display: none;">
    <div class="pingtai dataTime" id="dataTimeArea">
        <li><a href="javascript:;" data-time="2017-10-27" data-showtime="2017.10.28">PC</a></li>
        <li><a href="javascript:;" data-time="2017-10-27" data-showtime="2017.10.28">XBOXONE</a></li>
        <li><a href="javascript:;" data-time="2017-10-27" data-showtime="2017.10.28">PS4</a></li>
        <li><a href="javascript:;" data-time="2017-10-27" data-showtime="2017.10.28">Ns</a></li>
    </div>
</div>
