<div class="swiper-container gsZqSwp">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a target="_blank" href="http://wap.gamersky.com/news/Content-1030972.html">
                <img src="http://imgs.gamersky.com/upimg/2018/201803301342355927.jpg" alt="B社大佬：别问我《老滚6》了 亲儿子我都不告诉他">
                <span>B社大佬：别问我《老滚6》了 亲儿子我都不告诉他</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a target="_blank" href="http://wap.gamersky.com/news/Content-1031023.html">
                <img src="http://imgs.gamersky.com/upimg/2018/201803301308216233.jpg" alt="市场低迷 诺基亚芬兰本土被迫裁员353人">
                <span>市场低迷 诺基亚芬兰本土被迫裁员353人</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a target="_blank" href="http://wap.gamersky.com/news/Content-1030869.html">
                <img src="http://imgs.gamersky.com/pic/2018/20180330_ll_136_1.jpg" alt="德国美女惊艳COS《尼尔》2B 大赞淘宝服装物美价廉">
                <span>德国美女惊艳COS《尼尔》2B 大赞淘宝服装物美价廉</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a target="_blank" href="http://wap.gamersky.com/news/Content-1030987.html">
                <img src="http://imgs.gamersky.com/upimg/2018/201803301300217603.jpg" alt="《头号玩家》太震撼 网友请愿美国拍《高达》真人版">
                <span>《头号玩家》太震撼 网友请愿美国拍《高达》真人版</span>
            </a>
        </div>
    </div>
</div>